DATABASE_URL=postgresql://postgres:postgres@localhost:5432/satellite_db
TLE_API_BASE_URL=https://tle.ivanstanojevic.me
BACKFILL_DAYS=7
DJANGO_HOST=127.0.0.1
DJANGO_PORT=8000
LITESTAR_HOST=127.0.0.1
LITESTAR_PORT=8001
LOG_LEVEL=INFO
